In [36]:
pip --version

pip 23.3.1 from c:\Users\Putra_GDR\AppData\Local\Programs\Python\Python312\Lib\site-packages\pip (python 3.12)Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./data.csv', sep=';')
df.head()

   Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Unnamed: 4
0  Andi              80         70         90         NaN
1  Budi              90         80         70         NaN
2  Caca              70         90         80         NaN
3  Dedi              60         80         90         NaN
4  Euis              50         70         80         NaN

In [7]:
df = pd.DataFrame({
    "Nama":["Andi","Budi","Caca","Dedi","Euis","Fafa","Gigi","Haha","Iwan","Joko","Riyan","Alfin","Rizky","Rizal","Maulana"],
    "Nilai Formatif": [80,90,70,60,50,40,30,20,10,0,98,80,90,70,60],
    "Nilai UTS": [70,80,90,80,70,60,50,40,30,20,70,70,80,90,80],
    "Nilai UAS": [90,70,80,90,80,70,60,50,40,30,60,90,70,80,90]
})

print(df)

       Nama  Nilai Formatif  Nilai UTS  Nilai UAS
0      Andi              80         70         90
1      Budi              90         80         70
2      Caca              70         90         80
3      Dedi              60         80         90
4      Euis              50         70         80
5      Fafa              40         60         70
6      Gigi              30         50         60
7      Haha              20         40         50
8      Iwan              10         30         40
9      Joko               0         20         30
10    Riyan              98         70         60
11    Alfin              80         70         90
12    Rizky              90         80         70
13    Rizal              70         90         80
14  Maulana              60         80         90

In [11]:

# Menambahkan kolom Rata-rata Nilai
df['Rata-rata Nilai'] = df[['Nilai Formatif', 'Nilai UTS', 'Nilai UAS']].mean(axis=1)

# Mengurutkan DataFrame berdasarkan Rata-rata Nilai dalam urutan menurun
df_sorted = df.sort_values(by='Rata-rata Nilai', ascending=False)

# Membuat DataFrame untuk 5 teratas dan 5 terbawah
top_5 = df_sorted.head(5)
bottom_5 = df_sorted.tail(5)

print("5 Teratas:")
print(top_5)

print("\n5 Terbawah:")
print(bottom_5)

5 Teratas:
     Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Rata-rata Nilai
0    Andi              80         70         90             80.0
1    Budi              90         80         70             80.0
2    Caca              70         90         80             80.0
11  Alfin              80         70         90             80.0
12  Rizky              90         80         70             80.0

5 Terbawah:
   Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Rata-rata Nilai
5  Fafa              40         60         70        56.666667
6  Gigi              30         50         60        46.666667
7  Haha              20         40         50        36.666667
8  Iwan              10         30         40        26.666667
9  Joko               0         20         30        16.666667

In [12]:
#menentukan nilai dari rata rata siswa
df['Rata-rata Nilai'] = df[['Nilai Formatif', 'Nilai UTS', 'Nilai UAS']].mean(axis=1)
print(df)

       Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Rata-rata Nilai
0      Andi              80         70         90        80.000000
1      Budi              90         80         70        80.000000
2      Caca              70         90         80        80.000000
3      Dedi              60         80         90        76.666667
4      Euis              50         70         80        66.666667
5      Fafa              40         60         70        56.666667
6      Gigi              30         50         60        46.666667
7      Haha              20         40         50        36.666667
8      Iwan              10         30         40        26.666667
9      Joko               0         20         30        16.666667
10    Riyan              98         70         60        76.000000
11    Alfin              80         70         90        80.000000
12    Rizky              90         80         70        80.000000
13    Rizal              70         90         80        80.000000
14  Maulana              60         80         90        76.666667

In [35]:
rata_rata_formatif = df['Nilai Formatif'].mean()
rata_rata_uts = df['Nilai UTS'].mean()
rata_rata_uas = df['Nilai UAS'].mean()

print(f"Rata-rata Nilai Formatif: {rata_rata_formatif}")
print(f"Rata-rata Nilai UTS: {rata_rata_uts}")
print(f"Rata-rata Nilai UAS: {rata_rata_uas}")

Rata-rata Nilai Formatif: 56.53333333333333
Rata-rata Nilai UTS: 65.33333333333333
Rata-rata Nilai UAS: 70.0

In [37]:
df.to_excel('tugas1_putra.xlsx', index=False)