In [1]:
pip --version

pip 23.3 from c:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pip (python 3.10)

Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "Nama": ["Moh. Riski"],
    "Umur": [20],
    "Jenis Kelmin": ["Laki-Laki"]
})

df

         Nama  Umur Jenis Kelmin
0  Moh. Riski    20    Laki-Laki

In [3]:
dataframe = pd.DataFrame({
    "name": ["Moh. Riski", "Adim","Asmat Baidawi"],
    "age": [20, 21, 22],
    "gender": ["Laki-laki", "Laki-laki", "Laki-laki"]
})

dataframe

            name  age     gender
0     Moh. Riski   20  Laki-laki
1           Adim   21  Laki-laki
2  Asmat Baidawi   22  Laki-laki