In [1]:
pip --version

pip 23.3 from c:\Users\Pecandu Oksigen\AppData\Local\Programs\Python\Python310\lib\site-packages\pip (python 3.10)

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [5]:
dataframe = pd.DataFrame({
    "nama": ["Adim", "Baidawi", "Arman"],
    "age": [20, 20, 20],
    "gender": ["male", "male", "male"]
});

dataframe

      nama  age gender
0     Adim   20   male
1  Baidawi   20   male
2    Arman   20   male