In [1]:
import pandas as pd

In [2]:
dataframe = pd.DataFrame({
    "name": ["Huhu"],
    "age":[20,],
    "gender":["male"]
})

dataframe

   name  age gender
0  Huhu   20   male