In [1]:
import pandas as pd

In [2]:
dataframe = pd.DataFrame({
    "nama": ["dea", "wira", "selly"],
    "age": [31, 32, 33],
    "gender": ["female", "female", "female"]
})

dataframe

    nama  age  gender
0    dea   31  female
1   wira   32  female
2  selly   33  female

In [4]:
# From Identity Asmat Baidawi
df = pd.DataFrame({
  "name": ["Rahmatul Maulidia"],
  "age": [21],
  "gender": ["female"],
  "place and date of birth": ["Bangkalan, 21 April 2002"],
  "religion": ["Islam"],
  "e-mail": ["rahmatulmaulidia505@gmail.com"]
})

df

,name,age,gender,place and date of birth,religion,e-mail
0,Rahmatul Maulidia,20,female,"Bangkalan, 21 April 2002",Islam,rahmatulmaulidia505@gmail.com