In [1]:
import pandas as pd

In [2]:
dataframe = pd.DataFrame({
    "nama": ["Asmat", "Adim", "Baidawi"],
    "age": [20, 23, 22],
    "gender": ["melle", "mele", "mele"]
})

dataframe

    nama  age gender
0  Asmat   20  melle
1   Adim   23   mele
2   Dawi   22   mele

In [3]:
# From Identity Asmat Baidawi
df = pd.DataFrame({
  "name": ["Asmat Baidawi"],
  "age": [21],
  "gender": ["male"],
  "place and date of birth": ["Pamekasan, 6, February, 2002"],
  "religion": ["Islam"],
  "e-mail": ["asmatbaidawi07@gmail.com"]
})

df

,name,age,gender,place and date of birth,religion,e-mail
0,Asmat Baidawi,21,male,"Pamekasan, 6, February, 2002",Islam,asmatbaidawi07@gmail.com