In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "Nama": ["Riyan"],
    "Umur": [20],
    "Jenis Kelmin": ["Laki-Laki"]
})

df

    Nama  Umur Jenis Kelmin
0  Riyan    20    Laki-Laki