In [2]:
pip --version

pip 23.3.1 from c:\Users\Putra_GDR\AppData\Local\Programs\Python\Python312\Lib\site-packages\pip (python 3.12)

Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [8]:
df = pd.DataFrame(
    {
        "Name": [
            "Putra, Permana",
            "Permana,Putra",
            "Putra, . Permana",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)
df

               Name  Age     Sex
0    Putra, Permana   22    male
1     Permana,Putra   35    male
2  Putra, . Permana   58  female

In [5]:
nilai = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 98]
peringkat_tertinggi = sorted(nilai, reverse=True)[:5]
peringkat_terendah = sorted(nilai)[:5]

print("5 peringkat teratas:", peringkat_tertinggi)
print("5 peringkat terendah:", peringkat_terendah)

5 peringkat teratas: [98, 90, 80, 70, 60]
5 peringkat terendah: [0, 10, 20, 30, 40]