In [2]:
pip --version

pip 23.3 from c:\Users\ASUS_AMD\AppData\Local\Programs\Python\Python310\lib\site-packages\pip (python 3.10)

Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [6]:
dataframe = pd.DataFrame({
    "name": ["Selly Mellyana Dewi"],
    "age": [20],
    "gender": ["female"]

})
dataframe

                  name  age  gender
0  Selly Mellyana Dewi   20  female