In [1]:
pip --version

pip 23.2.1 from c:\Users\laptop\AppData\Local\Programs\Python\Python312\Lib\site-packages\pip (python 3.12)

Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(
    {
        "Name":[
            "Nailus, Saadah",
            "Saadah, Nailus",
            "Nailus, . Saadah",
        ],
        "Age": [22, 35, 58],
        "sex": ["male", "male", "female"]
    }
)
df

               Name  Age     sex
0    Nailus, Saadah   22    male
1    Saadah, Nailus   35    male
2  Nailus, . Saadah   58  female