In [2]:
pip --version

pip 23.3 from c:\Users\asih2\AppData\Local\Programs\Python\Python310\lib\site-packages\pip (python 3.10)

Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

In [9]:
dataframe = pd.DataFrame({
    "name": ["Siti  Ririn Sutarsih","Ulfatul Hasanah","Selly Mellyana Dewi"],
    "age":[20,20,20],
    "gender":["female","female","female"]
})

dataframe

                   name  age  gender
0  Siti  Ririn Sutarsih   20  female
1       Ulfatul Hasanah   20  female
2   Selly Mellyana Dewi   20  female