In [23]:
pip --version

pip 23.3 from c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\pip (python 3.10)

Note: you may need to restart the kernel to use updated packages.

In [24]:
import pandas as pd

In [21]:
data = {
    "Nama": ["Andi", "Budi", "Caca", "Dedi", "Euis", "Fafa", "Gigi", "Haha", "Iwan", "Joko", "Riyan", "Alfin", "Rizky", "Rizal", "Maulana"],
    "Nilai Formatif": [80, 90, 70, 60, 50, 40, 30, 20, 10, 0, 98, 80, 90, 70, 60],
    "Nilai UTS": [70, 80, 90, 80, 70, 60, 50, 40, 30, 20, 70, 70, 80, 90, 80],
    "Nilai UAS": [90, 70, 80, 90, 80, 70, 60, 50, 40, 30, 60, 90, 70, 80, 90]
}

df = pd.DataFrame(data)

df['Nilai Akhir'] = df['Nilai Formatif'] * 0.3 + df['Nilai UTS'] * 0.3 + df['Nilai UAS'] * 0.4
df

       Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Nilai Akhir
0      Andi              80         70         90         81.0
1      Budi              90         80         70         79.0
2      Caca              70         90         80         80.0
3      Dedi              60         80         90         78.0
4      Euis              50         70         80         68.0
5      Fafa              40         60         70         58.0
6      Gigi              30         50         60         48.0
7      Haha              20         40         50         38.0
8      Iwan              10         30         40         28.0
9      Joko               0         20         30         18.0
10    Riyan              98         70         60         74.4
11    Alfin              80         70         90         81.0
12    Rizky              90         80         70         79.0
13    Rizal              70         90         80         80.0
14  Maulana              60         80         90         78.0

In [33]:

# 1. Tentukan 5 peringkat terbawah dan teratas!
peringkat_terbawah = df.sort_values(by='Nilai Akhir').head(5)
peringkat_teratas = df.sort_values(by='Nilai Akhir', ascending=False).head(5)

print("Peringkat Terbawah:")
print(peringkat_terbawah)
print("\nPeringkat Teratas:")
print(peringkat_teratas)

Peringkat Terbawah:
   Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Nilai Akhir  Rata-rata  \
9  Joko               0         20         30         18.0  16.666667
8  Iwan              10         30         40         28.0  26.666667
7  Haha              20         40         50         38.0  36.666667
6  Gigi              30         50         60         48.0  46.666667
5  Fafa              40         60         70         58.0  56.666667

   Peringkat
9         15
8         14
7         13
6         12
5         11

Peringkat Teratas:
     Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Nilai Akhir  Rata-rata  \
0    Andi              80         70         90         81.0       80.0
11  Alfin              80         70         90         81.0       80.0
2    Caca              70         90         80         80.0       80.0
13  Rizal              70         90         80         80.0       80.0
1    Budi              90         80         70         79.0       80.0

    Peringkat
0           1
11          1
2           3
13          3
1           5

In [34]:
# 2. Tentukan nilai rata-rata dari masing-masing siswa!
df['Rata-rata'] = df[['Nilai Formatif', 'Nilai UTS', 'Nilai UAS']].mean(axis=1)

print(df[['Nama', 'Rata-rata']])

       Nama  Rata-rata
0      Andi  80.000000
11    Alfin  80.000000
2      Caca  80.000000
13    Rizal  80.000000
1      Budi  80.000000
12    Rizky  80.000000
3      Dedi  76.666667
14  Maulana  76.666667
10    Riyan  76.000000
4      Euis  66.666667
5      Fafa  56.666667
6      Gigi  46.666667
7      Haha  36.666667
8      Iwan  26.666667
9      Joko  16.666667

In [35]:
# 3. Tentukan nilai rata-rata dari masing-masing ujian!
rata_rata_ujian = df[['Nilai Formatif', 'Nilai UTS', 'Nilai UAS']].mean()

print("Nilai Rata-rata Masing-masing Ujian:")
print(rata_rata_ujian)

Nilai Rata-rata Masing-masing Ujian:
Nilai Formatif    56.533333
Nilai UTS         65.333333
Nilai UAS         70.000000
dtype: float64

In [36]:
# 4. Siapakah siswa yang memiliki nilai akhir tertinggi dan terendah.
siswa_tertinggi = df.loc[df['Nilai Akhir'].idxmax()]
siswa_terendah = df.loc[df['Nilai Akhir'].idxmin()]

print("Siswa dengan Nilai Akhir Tertinggi:")
print(siswa_tertinggi)
print("\nSiswa dengan Nilai Akhir Terendah:")
print(siswa_terendah)

Siswa dengan Nilai Akhir Tertinggi:
Nama              Andi
Nilai Formatif      80
Nilai UTS           70
Nilai UAS           90
Nilai Akhir       81.0
Rata-rata         80.0
Peringkat            1
Name: 0, dtype: object

Siswa dengan Nilai Akhir Terendah:
Nama                   Joko
Nilai Formatif            0
Nilai UTS                20
Nilai UAS                30
Nilai Akhir            18.0
Rata-rata         16.666667
Peringkat                15
Name: 9, dtype: object

In [37]:
# 5. Tampilkan siswa yang memiliki nilai akhir yang sama.
siswa_nilai_sama = df[df.duplicated(subset=['Nilai Akhir'], keep=False)]
siswa_nilai_sama = siswa_nilai_sama.sort_values(by='Nilai Akhir', ascending=False)
nilai_akhir_groups = siswa_nilai_sama.groupby('Nilai Akhir')

for nilai_akhir, group in nilai_akhir_groups:
    print(f"\nSiswa dengan Nilai Akhir {nilai_akhir}:")
    print(group[['Nama', 'Nilai Akhir']])

Siswa dengan Nilai Akhir 78.0:
       Nama  Nilai Akhir
3      Dedi         78.0
14  Maulana         78.0

Siswa dengan Nilai Akhir 79.0:
     Nama  Nilai Akhir
1    Budi         79.0
12  Rizky         79.0

Siswa dengan Nilai Akhir 80.0:
     Nama  Nilai Akhir
2    Caca         80.0
13  Rizal         80.0

Siswa dengan Nilai Akhir 81.0:
     Nama  Nilai Akhir
0    Andi         81.0
11  Alfin         81.0

In [38]:
# 6. Tampilkan siswa yang memiliki nilai akhir lebih dari 80.
siswa_lebih_dari_80 = df[df['Nilai Akhir'] > 80]

print("Siswa dengan Nilai Akhir Lebih dari 80:")
print(siswa_lebih_dari_80)

Siswa dengan Nilai Akhir Lebih dari 80:
     Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Nilai Akhir  Rata-rata  \
0    Andi              80         70         90         81.0       80.0
11  Alfin              80         70         90         81.0       80.0

    Peringkat
0           1
11          1

In [39]:
# 7. Berikan peringkat pada masing-masing siswa berdasarkan nilai akhirnya dan tampilkan dalam bentuk dataframe!
df['Nilai Akhir'] = df['Nilai Formatif'] * 0.3 + df['Nilai UTS'] * 0.3 + df['Nilai UAS'] * 0.4
df['Peringkat'] = df['Nilai Akhir'].rank(ascending=False, method='min').astype(int)
df = df.sort_values(by='Peringkat')

print(df[['Nama', 'Peringkat', 'Nilai Akhir']])

       Nama  Peringkat  Nilai Akhir
0      Andi          1         81.0
11    Alfin          1         81.0
2      Caca          3         80.0
13    Rizal          3         80.0
1      Budi          5         79.0
12    Rizky          5         79.0
3      Dedi          7         78.0
14  Maulana          7         78.0
10    Riyan          9         74.4
4      Euis         10         68.0
5      Fafa         11         58.0
6      Gigi         12         48.0
7      Haha         13         38.0
8      Iwan         14         28.0
9      Joko         15         18.0

In [40]:
# 8. Export hasilnya kedalam bentuk excel!
# Menghitung nilai akhir
df['Nilai Akhir'] = df['Nilai Formatif'] * 0.3 + df['Nilai UTS'] * 0.3 + df['Nilai UAS'] * 0.4

# Menambahkan kolom 'Peringkat' ke DataFrame dengan menggunakan method='min' dan konversi ke tipe int
df['Peringkat'] = df['Nilai Akhir'].rank(ascending=False, method='min').astype(int)

# Mengurutkan DataFrame berdasarkan kolom 'Peringkat'
df = df.sort_values(by='Peringkat')

# Menyimpan DataFrame ke dalam file Excel
df.to_excel('hasil_nilai.xlsx', index=False)

print("Data telah diekspor ke hasil_nilai.xlsx")

Data telah diekspor ke hasil_nilai.xlsx