In [2]:
import pandas as pd

In [3]:

dataFrame = pd.DataFrame({
    "name": ["fredi","viki","agus"],
    "age": [21,23,25],
    "gender":["male","male","male"]
})
dataFrame

    name  age gender
0  fredi   21   male
1   viki   23   male
2   agus   25   male