In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    "Nama": ["Andi","Budi","Caca","Dedi","Euis","Fafa","Gigi","Haha","Iwan","Joko","Riyan","Alfin","Rizky","Rizal","Maulana"],
    "Nilai Formatif": [80,90,70,60,50,40,30,20,10,0,98,80,90,70,60],
    "Nilai UTS": [70,80,90,80,70,60,50,40,30,20,70,70,80,90,80],
    "Nilai UAS": [90,70,80,90,80,70,60,50,40,30,60,90,70,80,90]
})

df

       Nama  Nilai Formatif  Nilai UTS  Nilai UAS
0      Andi              80         70         90
1      Budi              90         80         70
2      Caca              70         90         80
3      Dedi              60         80         90
4      Euis              50         70         80
5      Fafa              40         60         70
6      Gigi              30         50         60
7      Haha              20         40         50
8      Iwan              10         30         40
9      Joko               0         20         30
10    Riyan              98         70         60
11    Alfin              80         70         90
12    Rizky              90         80         70
13    Rizal              70         90         80
14  Maulana              60         80         90

1. Menentukan 5 peringkat terbawah dan teratas

In [4]:
df['Nilai Total'] = (df['Nilai Formatif'] + df['Nilai UTS'] + df['Nilai UAS']) / 3

# Mengurutkan DataFrame berdasarkan Nilai Total
df = df.sort_values(by='Nilai Total', ascending=False)

# Menentukan 5 peringkat teratas
peringkat_teratas = df.head(5)

# Menentukan 5 peringkat terbawah
peringkat_terbawah = df.tail(5)

print("5 Peringkat Teratas:")
print(peringkat_teratas)

print("\n5 Peringkat Terbawah:")
print(peringkat_terbawah)

5 Peringkat Teratas:
     Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Nilai Total
0    Andi              80         70         90         80.0
1    Budi              90         80         70         80.0
2    Caca              70         90         80         80.0
11  Alfin              80         70         90         80.0
12  Rizky              90         80         70         80.0

5 Peringkat Terbawah:
   Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Nilai Total
5  Fafa              40         60         70    56.666667
6  Gigi              30         50         60    46.666667
7  Haha              20         40         50    36.666667
8  Iwan              10         30         40    26.666667
9  Joko               0         20         30    16.666667

2. Menentukan nilai rata - rata dari masing - masing siswa

In [9]:
df['Rata-rata Nilai'] = df[['Nilai Formatif', 'Nilai UTS', 'Nilai UAS']].mean(axis=1)

print("Nilai Rata-rata Masing-masing Siswa:")
print(df[['Nama', 'Rata-rata Nilai']])

Nilai Rata-rata Masing-masing Siswa:
       Nama  Rata-rata Nilai
0      Andi        80.000000
1      Budi        80.000000
2      Caca        80.000000
11    Alfin        80.000000
12    Rizky        80.000000
13    Rizal        80.000000
3      Dedi        76.666667
14  Maulana        76.666667
10    Riyan        76.000000
4      Euis        66.666667
5      Fafa        56.666667
6      Gigi        46.666667
7      Haha        36.666667
8      Iwan        26.666667
9      Joko        16.666667

3. Menentukan nilai rata - rata dari masing ujian

In [10]:
rata_rata_formatif = df['Nilai Formatif'].mean()
rata_rata_uts = df['Nilai UTS'].mean()
rata_rata_uas = df['Nilai UAS'].mean()

print("Nilai Rata-rata Formatif:", rata_rata_formatif)
print("Nilai Rata-rata UTS:", rata_rata_uts)
print("Nilai Rata-rata UAS:", rata_rata_uas)

Nilai Rata-rata Formatif: 56.53333333333333
Nilai Rata-rata UTS: 65.33333333333333
Nilai Rata-rata UAS: 70.0

4. Siswa yang memiliki nilai tertinggi dan terendah

In [11]:
df['Nilai Akhir'] = (df['Nilai Formatif'] + df['Nilai UTS'] + df['Nilai UAS']) / 3

# Menemukan siswa dengan nilai akhir tertinggi
siswa_tertinggi = df[df['Nilai Akhir'] == df['Nilai Akhir'].max()]

# Menemukan siswa dengan nilai akhir terendah
siswa_terendah = df[df['Nilai Akhir'] == df['Nilai Akhir'].min()]

print("Siswa dengan Nilai Akhir Tertinggi:")
print(siswa_tertinggi[['Nama', 'Nilai Akhir']])

print("\nSiswa dengan Nilai Akhir Terendah:")
print(siswa_terendah[['Nama', 'Nilai Akhir']])

Siswa dengan Nilai Akhir Tertinggi:
     Nama  Nilai Akhir
0    Andi         80.0
1    Budi         80.0
2    Caca         80.0
11  Alfin         80.0
12  Rizky         80.0
13  Rizal         80.0

Siswa dengan Nilai Akhir Terendah:
   Nama  Nilai Akhir
9  Joko    16.666667

5. Siswa yang memiliki nilai akhir yang sama

In [12]:
df['Nilai Akhir'] = (df['Nilai Formatif'] + df['Nilai UTS'] + df['Nilai UAS']) / 3

nilai_akhir_sama = df[df.duplicated(subset=['Nilai Akhir'], keep=False)]

print("Siswa yang memiliki Nilai Akhir Sama:")
print(nilai_akhir_sama[['Nama', 'Nilai Akhir']])

Siswa yang memiliki Nilai Akhir Sama:
       Nama  Nilai Akhir
0      Andi    80.000000
1      Budi    80.000000
2      Caca    80.000000
11    Alfin    80.000000
12    Rizky    80.000000
13    Rizal    80.000000
3      Dedi    76.666667
14  Maulana    76.666667

6. Siswa yang memiliki nilai akhir lebih dari 80

In [13]:
df['Nilai Akhir'] = (df['Nilai Formatif'] + df['Nilai UTS'] + df['Nilai UAS']) / 3

siswa_nilai_tinggi = df[df['Nilai Akhir'] > 80]

print("Siswa yang memiliki Nilai Akhir lebih dari 80:")
print(siswa_nilai_tinggi[['Nama', 'Nilai Akhir']])

Siswa yang memiliki Nilai Akhir lebih dari 80:
Empty DataFrame
Columns: [Nama, Nilai Akhir]
Index: []