In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
dataFrame = pd.read_csv('../Dataset/wineQualityReds.csv' ,sep=',')
dataFrame.head()

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,2,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,3,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,4,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,5,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [9]:
x = dataFrame.iloc[:,:-1].values
x

array([[1.000e+00, 7.400e+00, 7.000e-01, ..., 3.510e+00, 5.600e-01,
        9.400e+00],
       [2.000e+00, 7.800e+00, 8.800e-01, ..., 3.200e+00, 6.800e-01,
        9.800e+00],
       [3.000e+00, 7.800e+00, 7.600e-01, ..., 3.260e+00, 6.500e-01,
        9.800e+00],
       ...,
       [1.597e+03, 6.300e+00, 5.100e-01, ..., 3.420e+00, 7.500e-01,
        1.100e+01],
       [1.598e+03, 5.900e+00, 6.450e-01, ..., 3.570e+00, 7.100e-01,
        1.020e+01],
       [1.599e+03, 6.000e+00, 3.100e-01, ..., 3.390e+00, 6.600e-01,
        1.100e+01]])

In [11]:
y = dataFrame.iloc[:,1-1].values
y

array([   1,    2,    3, ..., 1597, 1598, 1599], dtype=int64)

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)