In [2]:
import pandas as pd

In [3]:
dataframe = pd.DataFrame({
    "nama": ["firoh", "indah", "rani"],
    "age": [31, 32, 33],
    "gender": ["female", "female", "female"]
})

dataframe

    nama  age  gender
0  firoh   31  female
1  indah   32  female
2   rani   33  female

In [4]:
df = pd.DataFrame({
  "name": ["Maufiroh"],
  "age": [20],
  "gender": ["female"],
  "place and date of birth": ["sampang, 08 Maret 2003"],
  "religion": ["Islam"],
  "e-mail": ["firamaufiroh43@gmail.com"]
})

df

,name,age,gender,place and date of birth,religion,e-mail
0,Maufiroh,20,female,"sampang, 08 Maret 2003",Islam,firamaufiroh43@gmail.com