In [1]:
pip --version

pip 23.0.1 from c:\Program Files\Python310\lib\site-packages\pip (python 3.10)

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

Umar adalah seorang guru informatika di Madrasah Aliyah Al-Ghazali. Umar kebingungan untuk menentukan peringkat dari masing masing siswanya. Sehingga umar berinisiatif untuk menggunakan python dan mengimplementasikan library pandas yang ia pelajari di kampusnya. adapun data yang ia miliki adalah sebagai berikut:

In [3]:
df = pd.DataFrame({
    "Nama": ["Andi","Budi","Caca","Dedi","Euis","Fafa","Gigi","Haha","Iwan","Joko","Riyan","Alfin","Rizky","Rizal","Maulana"],
    "Nilai Formatif": [80,90,70,60,50,40,30,20,10,0,98,80,90,70,60],
    "Nilai UTS": [70,80,90,80,70,60,50,40,30,20,70,70,80,90,80],
    "Nilai UAS": [90,70,80,90,80,70,60,50,40,30,60,90,70,80,90]
})

df["Nilai Akhir"] = 0.3 * df["Nilai Formatif"] + 0.3 * df["Nilai UTS"] + 0.4 * df["Nilai UAS"]

df

       Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Nilai Akhir
0      Andi              80         70         90         81.0
1      Budi              90         80         70         79.0
2      Caca              70         90         80         80.0
3      Dedi              60         80         90         78.0
4      Euis              50         70         80         68.0
5      Fafa              40         60         70         58.0
6      Gigi              30         50         60         48.0
7      Haha              20         40         50         38.0
8      Iwan              10         30         40         28.0
9      Joko               0         20         30         18.0
10    Riyan              98         70         60         74.4
11    Alfin              80         70         90         81.0
12    Rizky              90         80         70         79.0
13    Rizal              70         90         80         80.0
14  Maulana              60         80         90         78.0

1. Tentukan 5 peringkat terbawah dan teratas!

In [11]:
teratas = df.sort_values(by="Nilai Akhir", ascending=False).head(5)

terbawah = df.sort_values(by="Nilai Akhir").head(5)


print("5 peringkat teratas:")
print(teratas)

print("\n5 peringkat terbawah:")
print(terbawah)

5 peringkat teratas:
     Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Nilai Akhir
0    Andi              80         70         90         81.0
11  Alfin              80         70         90         81.0
2    Caca              70         90         80         80.0
13  Rizal              70         90         80         80.0
1    Budi              90         80         70         79.0

5 peringkat terbawah:
   Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Nilai Akhir
9  Joko               0         20         30         18.0
8  Iwan              10         30         40         28.0
7  Haha              20         40         50         38.0
6  Gigi              30         50         60         48.0
5  Fafa              40         60         70         58.0

2. Tentukan nilai rata-rata dari masing-masing siswa!

In [12]:
df['Rata-rata'] = df[['Nilai Formatif', 'Nilai UTS', 'Nilai UAS']].mean(axis=1)

print(df[['Nama', 'Rata-rata']])

       Nama  Rata-rata
0      Andi  80.000000
1      Budi  80.000000
2      Caca  80.000000
3      Dedi  76.666667
4      Euis  66.666667
5      Fafa  56.666667
6      Gigi  46.666667
7      Haha  36.666667
8      Iwan  26.666667
9      Joko  16.666667
10    Riyan  76.000000
11    Alfin  80.000000
12    Rizky  80.000000
13    Rizal  80.000000
14  Maulana  76.666667

3. Tentukan nilai rata-rata dari masing-masing ujian!

In [20]:
formatif = df['Nilai Formatif'].mean()
uts = df['Nilai UTS'].mean()
uas = df['Nilai UAS'].mean()

print("Rata-rata Nilai Formatif:", formatif)
print("Rata-rata Nilai UTS:", uts)
print("Rata-rata Nilai UAS:", uas)

Rata-rata Nilai Formatif: 56.53333333333333
Rata-rata Nilai UTS: 65.33333333333333
Rata-rata Nilai UAS: 70.0

4. Siapakah siswa yang memiliki nilai akhir tertinggi dan terendah.

In [19]:
df_sorted = df.sort_values(by="Nilai Akhir", ascending=False)

tertinggi = df_sorted.head(1)
terendah = df_sorted.tail(1)

print("Siswa dengan Nilai Akhir Tertinggi:")
print(tertinggi)

print("\nSiswa dengan Nilai Akhir Terendah:")
print(terendah)

Siswa dengan Nilai Akhir Tertinggi:
   Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Nilai Akhir  Rata-rata
0  Andi              80         70         90         81.0       80.0

Siswa dengan Nilai Akhir Terendah:
   Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Nilai Akhir  Rata-rata
9  Joko               0         20         30         18.0  16.666667

5. Tampilkan siswa yang memiliki nilai akhir yang sama.

In [18]:
nilai = df.groupby('Nilai Akhir')

for nilai_akhir, siswa in nilai:
    if len(siswa) > 1:
        print("Nilai Akhir:", nilai_akhir)
        print(siswa[['Nama', 'Nilai Akhir']])

Nilai Akhir: 78.0
       Nama  Nilai Akhir
3      Dedi         78.0
14  Maulana         78.0
Nilai Akhir: 79.0
     Nama  Nilai Akhir
1    Budi         79.0
12  Rizky         79.0
Nilai Akhir: 80.0
     Nama  Nilai Akhir
2    Caca         80.0
13  Rizal         80.0
Nilai Akhir: 81.0
     Nama  Nilai Akhir
0    Andi         81.0
11  Alfin         81.0

6. Tampilkan siswa yang memiliki nilai akhir lebih dari 80.

In [17]:
nilai = df[df['Nilai Akhir'] > 80]
print("Siswa dengan Nilai Akhir Lebih dari 80:")
print(nilai)

Siswa dengan Nilai Akhir Lebih dari 80:
     Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Nilai Akhir  Rata-rata
0    Andi              80         70         90         81.0       80.0
11  Alfin              80         70         90         81.0       80.0

7. Berikan peringkat pada masing-masing siswa berdasarkan nilai akhirnya dan tampilkan dalam bentuk dataframe!

In [21]:
df_sorted = df.sort_values(by="Nilai Akhir", ascending=False)

df_sorted['Peringkat'] = range(1, len(df_sorted) + 1)

print(df_sorted)

       Nama  Nilai Formatif  Nilai UTS  Nilai UAS  Nilai Akhir  Rata-rata  \
0      Andi              80         70         90         81.0  80.000000
11    Alfin              80         70         90         81.0  80.000000
2      Caca              70         90         80         80.0  80.000000
13    Rizal              70         90         80         80.0  80.000000
1      Budi              90         80         70         79.0  80.000000
12    Rizky              90         80         70         79.0  80.000000
3      Dedi              60         80         90         78.0  76.666667
14  Maulana              60         80         90         78.0  76.666667
10    Riyan              98         70         60         74.4  76.000000
4      Euis              50         70         80         68.0  66.666667
5      Fafa              40         60         70         58.0  56.666667
6      Gigi              30         50         60         48.0  46.666667
7      Haha              20         40         50         38.0  36.666667
8      Iwan              10         30         40         28.0  26.666667
9      Joko               0         20         30         18.0  16.666667

    Peringkat
0           1
11          2
2           3
13          4
1           5
12          6
3           7
14          8
10          9
4          10
5          11
6          12
7          13
8          14
9          15

8. Export hasilnya kedalam bentuk excel!

In [4]:
pip install pandas openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\windows 10\appdata\roaming\python\python310\site-packages (2.1.2)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ----------------------- -------------- 153.6/250.0 kB 4.6 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\windows 10\appdata\roaming\python\python310\site-packages (from pandas) (1.26.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\windows 10\appdata\roaming\python\python310\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\windows 10\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\windows 10\appdata\roaming\python\python310\site-packages (from pandas) (2023.3)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: six>=1.5 in c:\users\windows 10\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
df_sorted = df.sort_values(by="Nilai Akhir", ascending=False)

df_sorted['Peringkat'] = range(1, len(df_sorted) + 1)

df_sorted.to_excel("hasil_peringkat.xlsx", index=False) 

print("Data telah diekspor ke hasil_peringkat.xlsx")

Data telah diekspor ke hasil_peringkat.xlsx